Source: pulseaudio-config-droid
Maintainer: Giuseppe Corti (r3vn) <giuseppe.corti@protonmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/pulseaudio-config-droid
Vcs-Git: https://github.com/hybris-mobian-releng/pulseaudio-config-droid.git

Package: pulseaudio-config-droid
Architecture: all
Pre-Depends: pulseaudio-modules-droid-jb2q | pulseaudio-modules-droid-modern, pulseaudio
Depends: ${misc:Depends}
Description: pulseaudio configs for hybris devices
 This package contains pulseaudio configuration files for hybris-based adaptations
